
.root
{
	
}

.tab-pane
{
	-fx-tab-min-width:320px;
	-fx-tab-min-height:0px;
	-fx-tab-max-height:0px;
	
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:   #152C45;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-effect: null;
}
.tab{
    -fx-background-insets: 0 0 0 0,0,0;
}
.tab-pane .tab{
    -fx-background-color:  #152C45;
}

.tab-header-area
{
	
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-max-height:0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
 /*   -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;  overriden as 5 2 0 0 */
}
.tab-pane .tab:selected
{
    -fx-background-color:#152C45;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #fff;
    -fx-font-size: 21px;

}

.tab:selected .tab-label { 
    
    -fx-text-fill: #fff;
}
.accordion .titled-pane > *.content 
{
    -fx-background-color:  #152C45;-fx-focus-color: transparent;
}

.titled-pane {
-fx-text-fill: white;
 -fx-background-color:  #152C45;
 -fx-focus-color: transparent;-fx-focus-color: transparent;
}

.titled-pane:expanded > .title {
	 -fx-background-color:#6F90B3;
    -fx-base: #fff;       
   -fx-text-fill: #fff;   -fx-focus-color: transparent;    
}

.titled-pane > .title {
  -fx-background-color:  #152C45;
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
  -fx-padding: 0.8em 0.8em 0.8em 0.8em;
-fx-min-height:60;
-fx-focus-color: transparent;
    -fx-focus-color: #fff;
    -fx-font-size: 14pt;               
    -fx-text-fill: #fff;   
}


.table-view {
    -fx-base: #fff;
   
    -fx-control-inner-background: #EDEDED;
    -fx-background-color: #EDEDED;

    -fx-padding: 0;

    -fx-effect: null;
    
    -fx-focus-color: transparent;
    
}

.table-view .column-header-background {
    -fx-background-color: #6F90B3;
    -fx-control-inner-background: #6F90B3;
    -fx-effect: null;
	-fx-focus-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 30;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: 
        transparent
        transparent
        transparent 
        transparent;
    -fx-border-insets: 0 0 0 0;
  
    -fx-effect: null;
     -fx-background-color: #6F90B3;
    -fx-control-inner-background: #6F90B3;
-fx-focus-color: transparent;
}
#buttonFirstFood,#buttonMiddleFood,#buttonLastFood,#buttonDrinks
{
	-fx-background-color: transparent;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-family: "Segoe UI Light";
}

	
	



.table-view .column-header .label {
    -fx-font-size: 17pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #fff;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-padding: 2;
    -fx-effect: null;
}
.table-cell {
    -fx-font-size: 23px;
}

.bigtext.table-cell { 
   -fx-font-size: 36px;
  
}
.table-row-cell:filled:selected,.table-row-cell {
  -fx-background: #fff;
  -fx-background-color: #fff;
  -fx-border-color:transparent;

}
.table-row-cell:odd:filled:selected,.table-row-cell:odd {
  -fx-background: #EDEDED;
  -fx-background-color: #EDEDED;
  -fx-border-color:transparent;
}
.text-input:disabled {
-fx-opacity: 0.8;
}



/*
 * Copyright (c) 2013 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.root {
    -fx-background-color: transparent;
    -fx-fill            : transparent;
}
.notification {
    -fx-background-color : #fff;
    -fx-background-radius: 5;
    -fx-effect           : innershadow(two-pass-box, rgba(255, 255, 255, 0.6), 5.0, 0.25, 0, 0);    

}

.notification .title {
    -fx-font-size  : 25px;
    -fx-font-weight: bold;
    -fx-text-fill  : #000;
}
.notification .message {
    -fx-font-size       : 15px;
    -fx-content-display : left;
    -fx-graphic-text-gap: 10;
    -fx-text-fill       : #000;
}
